body {
  background: -moz-linear-gradient(#eee, #ccc) !important;
  background: -webkit-linear-gradient(#eee, #ccc) !important;
  background: linear-gradient(#eee, #ccc) !important;
}

.selector {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  width: 140px !important;
  height: 140px !important;
  margin-top: 10px !important;
  margin-left: -70px !important;
  z-index: 30;
}

.selector, .selector button {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  color: #000;
}

.selector button {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  padding: 10px !important;
  background: #428bca !important;
  border-radius: 50% !important;
  border: 0 !important;
  color: white !important;
  font-size: 20px !important;
  cursor: pointer !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6) !important;
  transition: all .1s !important;
}

.selector button:hover {
  background: #3071a9 !important;
}

.selector button:focus {
  outline: none !important;
}

.selector ul {
  position: absolute !important;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
  top: -20px !important;
  right: -20px !important;
  bottom: -20px !important;
  left: -20px !important;
}

.selector li {
  position: absolute !important;
  width: 0 !important;
  height: 100% !important;
  margin: 0 50% !important;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out !important;
}

.selector li input {
  display: none !important;
}

.selector li input + label {
  position: absolute !important;
  left: 50% !important;
  bottom: 100% !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 1px !important;
  margin-left: 0 !important;
  background: #fff;
  border-radius: 50% !important;
  text-align: center !important;
  font-size: 1px !important;
  overflow: hidden !important;
  cursor: pointer !important;
  box-shadow: none !important;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s !important;
}

.selector li input + label:hover {
  background: #f0f0f0;
}

.marked {
  background: rgb(225,64,86) !important; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(225,64,86,1) 59%, rgba(225,28,27,1) 100%) !important; /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(225,64,86,1) 59%,rgba(225,28,27,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(225,64,86,1) 59%,rgba(225,28,27,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e14056', endColorstr='#e11c1b',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
  color: white !important;
}

.marked:hover {
  background: rgb(225,64,86) !important; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(225,64,86,1) 0%, rgba(224,0,0,1) 100% !important); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(225,64,86,1) 0%,rgba(224,0,0,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(225,64,86,1) 0%,rgba(224,0,0,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e14056', endColorstr='#e00000',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */;
}

[class*="-sub"] {
  font-size: 8px;
}

.selector.open li input + label {
  width: 140px !important;
  height: 140px !important;
  line-height: 140px !important;
  margin-left: -70px !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6) !important;
  font-size: 14px !important;
}

label {
  display: initial;
  max-width: initial;
  margin-bottom: initial;
  font-weight: initial;
}

//////////////////////////////////////

.wrap {
  position: absolute;
  overflow: hidden;
  top: 10%;
  right: 10%;
  bottom: 85px;
  left: 10%;
  padding: 20px 50px;
  display: block;
  border-radius: 4px;
  transform: translateY(20px);
  transition: all 0.5s;
  visibility: hidden;
}
.wrap .role-content {
  opacity: 0;
}
.wrap:before {
  position: absolute;
  width: 1px;
  height: 1px;
  background: rgb(67,80,82);
  background: -moz-radial-gradient(center, ellipse cover, rgba(67,80,82,1) 0%, rgba(32,41,43,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(67,80,82,1) 0%,rgba(32,41,43,1) 100%);
  background: radial-gradient(ellipse at center, rgba(67,80,82,1) 0%,rgba(32,41,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#435052', endColorstr='#20292b',GradientType=1 );
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active {
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
}
.wrap.active:before {
  height: 2000px;
  width: 2000px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active .role-content {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  background-color: #000;
  padding: 20px;
  border-radius: 4px;
}




//////////////////////////////////


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Basically just a bunch of typeface classes, some helper classes(letter-spacing, font-weight, etc.), decorative classes(line-on-headers, double-lines, etc). Three types of bg, image, gradient and solid color. I do this for testing headings/hero-image typography. Now there are ten presets here, but you can mix everything. I know that this brings to classivitis, but I still didn't dwelved into Saas, it is next on my learning roadmap, but I will create a fork soon with Saas and variables. */


/* Preset 1 ---- Bold/cursive  */
/* Preset 2 ---- Thin/bold  */
/* Preset 3 ---- Add emphasis with color */
/* Preset 4 ---- Thin/Super bold/thin */
/* Preset 5 ---- Playing with serifs */
/* Preset 6 ---- Super contrast */
/* Preset 7 ---- Vertical text */
/* Preset 8 ---- Playful type */
/* Preset 9 ---- Middle flourish */
/* Preset 10 ---- Overlay text */

/* ==== Font sizes(based on Typeplate's scale) ==== */
html {
  font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
  -moz-font-feature-settings: "liga=1, dlig=1"; /* common and discretionary ligatures */
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  color: #fff;
	display: inline-block;
	position: relative;
}
p{
  margin-top: 4rem;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1
}
.gigantic{font-size: 11rem;}
.supersize{font-size: 8rem;}
.tera {
  font-size: 6.5rem; /* 117 / 18 = 6.5 */
  margin-bottom: 0.25385rem;
}

.giga {
  font-size: 5rem; /* 90 / 18 = 5 */
  margin-bottom: 0.33rem;
}

.mega {
  font-size: 4rem; /* 72 / 18 = 4 */
  margin-bottom: 0.4125rem;
}

.alpha {
  font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
  margin-bottom: 0.495rem;
}

.beta {
  font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
  margin-bottom: 0.61875rem;
}

.gamma {
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 0.825rem;
}

.delta {
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 1.2375rem;
}

.epsilon {
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 1.41429rem;
}

.zeta {
  font-size: 1rem; /* 18 = 18 × 1 */
  margin-bottom: 1.65rem;
}
/* ==== Typefaces  ==== */

.open-sans{font-family: 'Open Sans';}
.lato{font-family: 'Lato'}
.playfair-display{font-family: 'Playfair Display'}
.libre-baskerville{font-family: 'Libre Baskerville'}
.oswald{font-family: 'Oswald'}
.montserrat{font-family: 'Montserrat'}
.vollkorn{font-family: 'Vollkorn'}
.bree-serif{font-family: 'Bree Serif'}
.raleway{font-family: 'Raleway'}
.merriweather{font-family: 'Merriweather'}
.cardo{font-family: 'Cardo'}
.abril-fatface{font-family: 'Abril Fatface'}
.muli{font-family: 'Muli'}

/* ==== Weights, styles, letterspacing, etc. ==== */

.thin{font-weight: 100;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.bold{font-weight: 700;}
.italic{font-style: italic;}
.normal{font-style: normal;}
.ls-small{letter-spacing: 2px;}
.ls-medium{letter-spacing: 4px;}
.ls-large{letter-spacing: 8px;}
.ls-xlarge{letter-spacing: 12px;}
.uppercase{text-transform: uppercase;}
.color-emphasis-1{color: #e14056}
.color-emphasis-2{color: #000;}
.color-emphasis-3{color: #60547c}
.text-left{text-align: left;}
.line-height-small{line-height: 1.2}
.line-height-medium{line-height: 1.45}
.line-height-large{line-height: 1.65}


/* ===== Flourish, heading horizontal lines, etc. ==== */

.thick-header-line:before, .thick-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 4px;
	background-color: #fff;
	top:50%;
	margin-bottom: -4px;
}
.thick-header-line:before{
	left: -7.5rem;
}
.thick-header-line:after{
	right: -7.5rem;
}

.thin-header-line:before, .thin-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 1px;
	background-color: #fff;
	top:50%;
	margin-bottom: -1px;
}
.thin-header-line:before{
	left: -7.5rem;
}
.thin-header-line:after{
	right: -7rem;
}
.line-after-heading:before{
	content: "";
	display: block;
	position: absolute;
	background-color: #fff;
	width:4rem;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -2rem;

}
.double-header-line:before, .double-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	background-color: transparent;
	height: 4px;
	border-top: 1px solid #fff;
	border-bottom:1px solid #fff;
	top: 50%;
	margin-bottom: -4px;
}
.double-header-line:before{
	left: -7.5rem;
}
.double-header-line:after{
	right: -7.5rem;
}
.decorative-span{
  display: inline-block;
    font-size: 30px;
    line-height: 60px;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
	color: #fff;
}
.decorative-span:before, .decorative-span:after{
    background-color: #fff;
    bottom: 100%;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}
.decorative-span:after {
    top: 96%;
}

.text-overlay:before{
	content: attr(data-text);
	z-index: 99;
	width: 98%;
	height: 50px;
	background-color: hsla(0,0%,0%,0.6);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	line-height: 50px;
	text-align: center;
	color:#f0ad00;
	font-family: 'bree serif';
	font-style: normal;
	font-size: 1.3rem;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 400;
}

/* ==== General styles ==== */
section{
	height: 600px;
	padding: 3rem 0;
	position: relative;
}
.wrapper{
	max-width: 63.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(10%);
	top:50%;
	text-align: center;
}
.wrapper.large-wrap{max-width: 100%;}
section:nth-of-type(3n+1){
	background-size: cover;
}
section:before{
	content: attr(data-description);
	font-size: 0.9rem;
	font-family: 'oswald';
	color: #fff;
	position: absolute;
	z-index: 20;
	left: 2rem;
	top: 2rem;
}

/* Media queries */
 @media screen and (min-width: 1440px) {
   section{height:700px}
 }
