<div class="component">
    <div class="panel-heading">Letters Of Credit
      <button class="btn pull-right purchase-order-btn" (click)="createPurchaseOrder()" id="create-purchase-order" [ngClass]="{'button-glow': tourService.purchaseOrderGlow}">Create Purchase Order</button>
    </div>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Buyer</th>
            <th>Seller</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Status</th>
            <th>Bill of Lading</th>
            <th>Actions</th>
            <th></th>
          </thead>
          <tbody>
            <ng-container *ngFor="let loc of locs">
                <tr *ngIf="loc.status != 'Live'">
              <td>
                <a (click)="openLocModal(loc.id)">{{loc.orderRef}}</a>
              </td>
              <td>
                <a (click)="openLocModal(loc.id)">{{loc.applicant}}</a>
              </td>
              <td>
                <a (click)="openLocModal(loc.id)">{{loc.beneficiary}}</a>
              </td>
              <td>
                <a (click)="openLocModal(loc.id)">{{loc.amount}}</a>
              </td>
              <td>
                <a (click)="openLocModal(loc.id)">{{loc.description}}</a>
              </td>
              <td>
                <a (click)="openLocModal(loc.id)">{{loc.status}}</a>
              </td>
              <td>
                <span (click)="openBol(loc.orderRef)" class="action"><img src="assets/bill.png" height="20px" class="action-img">View</span>
              </td>
              <td>
                <span (click)="payIssuer(loc.orderRef)" class="action" [ngClass]="{'disabled': loc.status == 'Issuer Paid'}"><img src="assets/hand.png" height="20px" class="action-img">Settle</span>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
