<div class="component">
  <div class="panel-heading">Letters Of Credit</div>
  <div class="panel-body">
    <div class="grid grid-pad">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Buyer</th>
            <th>Seller</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Status</th>
            <th>Bill of Lading</th>
            <th>Actions</th>
            <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let loc of locs">
            <td>
              <a (click)="openLocModal(loc.id)">{{loc.orderRef}}</a>
            </td>
            <td>
              <a (click)="openLocModal(loc.id)">{{loc.applicant}}</a>
            </td>
            <td>
              <a (click)="openLocModal(loc.id)">{{loc.beneficiary}}</a>
            </td>
            <td>
              <a (click)="openLocModal(loc.id)">{{loc.amount}}</a>
            </td>
            <td>
              <a (click)="openLocModal(loc.id)">{{loc.description}}</a>
            </td>
            <td>
              <a (click)="openLocModal(loc.id)">{{loc.status}}</a>
            </td>
            <td>
              <span (click)="openBol(loc.orderRef)" class="action">
                <img src="assets/bill.png" height="20px" class="action-img">View</span>
            </td>
            <td>
              <span (click)="payAdvisory(loc.orderRef)" class="action" [ngClass]="{'disabled': loc.advisoryPaid == true}">
                <img src="assets/hand.png" height="20px" class="action-img">Pay Seller's Bank</span>
            </td>
            <ng-template #not_paid>
              <a (click)="openLocModal(loc.id)" class="not-paid">
                <img src="assets/false.png" height="20px">  False</a>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
