<div class="component">
  <div class="panel-heading">Letter Of Credit Applications</div>
  <div class="panel-body">
    <div class="grid grid-pad">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Buyer</th>
            <th>Seller</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let loc of locs">
            <td hidden>
              <a (click)="openLocModal(loc.id)">{{loc.id}}</a>
            </td>
            <td>
              <a (click)="openLocModal(loc.id)">{{loc.applicant}}</a>
            </td>
            <td>
              <a (click)="openLocModal(loc.id)">{{loc.beneficiary}}</a>
            </td>
            <td>
              <a (click)="openLocModal(loc.id)">{{loc.amount}}</a>
            </td>
            <td>
              <a (click)="openLocModal(loc.id)">{{loc.description}}</a>
            </td>
            <td>
              <span  (click)="approveLoc(loc.id)" class="action">
                <img src="assets/form.png" height="20px" class="action-img">Approve</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
