<div class="component">
    <div class="panel-heading">Letters of Credit</div>
    <div class="panel-body">
      <div class="grid grid-pad">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>Buyer</th>
            <th>Seller</th>
            <th>Amount</th>
            <th>Description</th>
          </thead>
          <tbody>
            <tr *ngFor="let loc of locs">
              <td>
                  <a [routerLink]="['/approve', loc.id]">{{loc.applicant}}</a>
              </td>
              <td>
                  <a [routerLink]="['/approve', loc.id]">{{loc.beneficiary}}</a>
              </td>
              <td>
                  <a [routerLink]="['/approve', loc.id]">{{loc.amount}}</a>
              </td>
              <td>
                  <a [routerLink]="['/approve', loc.id]">{{loc.description}}</a>
              </td>
              <td>
                <a [routerLink]="['/approve', loc.id]">{{loc.status}}</a>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
