<header></header>

<div class="body-wrapper">

  <div class="col-md-2">
  </div>

  <div class="col-md-8">

    <div class="row">
      <all-loc-buyer [getAllUrl]="'buyer'" id="live"></all-loc-buyer>
    </div>

    <div class="row">
      <all-purchase-order id="purchaseOrders"></all-purchase-order>
    </div>

    <div class="row">
      <awaiting-approval id="applications"></awaiting-approval>
    </div>

    <div class="row">
      <app-transactions id="transactions"></app-transactions>
    </div>

  </div>

  <div class="col-md-2">
  </div>

</div>
