<div class="component">
  <div class="panel-heading">Purchase Orders</div>
  <div class="panel-body">
    <div class="grid grid-pad">
      <table class="table table-condensed table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Buyer</th>
          <th>Seller</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Description</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let purchaseOrder of purchaseOrders" class="clickable">
            <td>
                <a (click)="openPurchaseOrderModal(purchaseOrder.purchaseOrderID)">{{purchaseOrder.purchaseOrderID}}</a>
            </td>
            <td>
                <a (click)="openPurchaseOrderModal(purchaseOrder.purchaseOrderID)">{{purchaseOrder.buyerName}}</a>
            </td>
            <td>
                <a (click)="openPurchaseOrderModal(purchaseOrder.purchaseOrderID)">{{purchaseOrder.sellerName}}</a>
            </td>
            <td>
                <a (click)="openPurchaseOrderModal(purchaseOrder.purchaseOrderID)">{{purchaseOrder.goodsQuantity}}</a>
              </td>
              <td>
                <a (click)="openPurchaseOrderModal(purchaseOrder.purchaseOrderID)">{{purchaseOrder.goodsUnitPrice}}</a>
              </td>
              <td>
                <a (click)="openPurchaseOrderModal(purchaseOrder.purchaseOrderID)">{{purchaseOrder.goodsDescription}}</a>
              </td>
            <td>
                <span ng-disabled="purchaseOrder.assigned" (click)="openModalWithComponent(purchaseOrder)" class="action"><img src="assets/hand.png" height="20px" class="action-img">Apply for LOC</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
